# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


/target/
/.idea
/.settings
/.classpath
/.project
/SpringAdminPanel.iml
/fb8ae9d0-0902-4b9a-a798-d18132da405f.Screenshot 2019-03-03 at 10.06.26.png